/* .Card {
    margin-top: 40px;
    position: relative;
    background-color: #151719;
    border-radius: 30px;
    box-shadow: 0 0 80px #5658dd;
    transition: 0.5 linear;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
    padding: 30px;
} */

.Card1 {
    position: relative;
    background-color: #151719;
    border-radius: 30px;
    box-shadow: 0 0 80px #5658dd;
    transition: 0.5 linear;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.Carde {
    margin-top: 30%;
    position: relative;
    width: 450px;
    height: 250px;
    background-color: #151719;
    border-radius: 30px;
    transition: 0.5 linear;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
}

.texto {
    color: #dadff0;
    font-size: 30px;
}

.texto1 {
    color: #dadff0;
    font-size: 30px;
}

.espaco {
    padding: 80px;
}

.botao1 {
    margin-top: 80px;
    width: 400px;
    height: 100px;
    font-weight: bold;
    font-size: 40px;
    background-color: #353558;
    border-radius: 15px;
    color: #dfdfdf;
    padding: 10px;
}

.botao1:hover {
    background-color: #5658dd;
}

.detect {
    color: #dadff0;
    font-size: 45px;
    font-weight: bold;
    margin-left: 120px;
}

.rodrigo{
    margin-right: 80px;
    text-align: center;
}
