
.botao{
    background-color: #333333; 
    color: #dfdfdf;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
}
.botao:hover{
    background-color: #4c4c4c; 
}

.titulo{
    font-size: 2rem;
}